@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>

<br />
<br />

<form asp-action="Create">

	<partial name="PartialView/CreateEditEmployeePartial" />

</form>

@section validationScriptsSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}